<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Sex:</b>
  <%= @user.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>High school:</b>
  <%= @user.high_school %>
</p>

<p>
  <b>College:</b>
  <%= @user.college %>
</p>

<p>
  <b>Company:</b>
  <%= @user.company %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>Fav music:</b>
  <%= @user.fav_music %>
</p>

<p>
  <b>Fav book:</b>
  <%= @user.fav_book %>
</p>

<p>
  <b>Fav movie:</b>
  <%= @user.fav_movie %>
</p>

<p>
  <b>Fav tv:</b>
  <%= @user.fav_tv %>
</p>

<p>
  <b>Fav game:</b>
  <%= @user.fav_game %>
</p>

<p>
  <b>Fav sport:</b>
  <%= @user.fav_sport %>
</p>

<p>
  <b>Picture:</b>
  <%= @user.picture %>
</p>

<p>
  <b>Wall:</b>
  <%= @user.wall_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
